<h1>Chirps</h1>

<h3>All Chirps</h3>

<ul>
  <% x = @chirps.order(created_at: :desc) %>
  <% x.each do |chirp| %>
    <ul>
      <a href="/chirps/<%= chirp.id %>"><%= chirp.text.upcase %> Votes: <%= chirp.upvote %></a>
    </ul>
  <% end %>

</ul>


<h3>Create a New Chirp</h3>

<ul>
  <ul><%= link_to "New", new_chirp_path(@chirp) %></ul>
</ul>
